---
import Layout from "../layouts/Layout.astro"
---

<Layout title="予約システム連携">
    <div class="container mx-auto">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FTokyo&bgcolor=%23ffffff&showTz=0&showCalendars=0&showPrint=0&showTitle=0&src=YWVlN2NmMTY3ODAyNzhhZjdjNGJkOThiNmVhMjVlMGY4ODVjMTQwOGRlMjI5MGIxNzY3YTVmZTYzNzk0NTMxZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F4511E" style="border-width:0" height="600"></iframe>
    </div>
</Layout>

<style>
    iframe{
        max-width: 800px;
        width: 95%;
    }
</style>